html,
body{
    margin: 0;
}

.mainContainer{
    display: flex;
    flex: 1;

    height: 100vh;
    width: 100vw;
}

.leftSide{
    display: flex;
    justify-content: center;

    background: url(/assets/editedBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    width: 40%;
    height: 100%;
}

 .textContainer{
    color: red;
} 

.rightSide{
    border: solid green 2px;
    background-color: #F9FAFB;

    display: flex;
    flex-direction: column;

    width: 70%;    
}

.topText{
    margin-bottom: 30px;

    font-size: x-large;
    font-weight: bold;

    padding-left: 31px;
}

#longPara{
    margin-bottom: 18px;
}

 .formContainer{
    background-color: #FFFFFF;

    justify-self: center;

    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);

    padding-left: 31px;
    padding-bottom: 22px;
} 

h3{
    font-size: x-large;
}

.inputs{

    padding-left: 18px;
    padding-bottom: 18px;

    display: flex;

    justify-content: flex-start;
}

.leftInputs{
    display: flex;
    flex-direction: column;

    margin-right: 60px;
}

.rightInputs{
    display: flex;
    flex-direction: column;
}

.labelAndInputs{
    margin-bottom: 16px;
}

.submitContainer{
    margin-top: 30px;

    padding-left: 31px;
}

#submitBtn{
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
    background-color: #BA5A5B;

    border-radius: 20px;
    width: 200px;
    height: 40px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button,
  input{
    font-family: inherit;
    font-size: 100%;

    width: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  label{
    display: block;
  }