.mainContainer{
    display: flex;
    flex: 1;
}

.imageContainer{
    background: url(/assets/editedBg.jpg);
    width: 800px;
    height: 940px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button,
  input{
    font-family: inherit;
    font-size: 100%;

    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }